@charset "utf-8";

/*******************************************************************************
 Pyxis2アンケート用 スタイルシートサンプル
 *******************************************************************************/

/*=============================================================================*
 全ページ　共通レイアウト
 *=============================================================================*/

/*全体レイアウト*/
*{
	margin:0px;
	padding:0px;
}

html,body{
	-webkit-text-size-adjust:none;
	font-size:15px;
	line-height: 120%;
	background-color:#ffffff;
	height:100%;
}
/* add Start 2021/7/20 ---------------------------------------->*/
/* Chromeの画像がぼやけて表示される対策 */
html,body{
	image-rendering: -webkit-optimize-contrast;
}
/* add Start 2021/7/20 ---------------------------------------->*/

.note{
	line-height: 1.2;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}

/* add Start 2021/7/20 ---------------------------------------->*/
/* IE・EdgeのFA折り返し対策 */
textarea {
	white-space: pre-wrap;
}
div.note textarea {
	white-space: pre-wrap;
}
/* add Start 2021/7/20 ---------------------------------------->*/

* html div#wrapper{
	height:100%;
}

div#wrapper{
	position:relative;
	min-height:100%;
	width:100%;
	min-width:800px;
	margin:0px auto;
}

body > #wrapper {
	height: auto;
}

div#header {
	background-image: url(../img/header.jpg);
	width:100%;
	height:35px;
}

div#contents {
	padding-bottom:35px;
	margin:0px auto 0px auto;
	width:100%;
	text-align:center;
	padding:10px 0px 60px 0px;
}

div#footer{
	background-color: #BFBFBF;
	position:absolute;
	bottom:0px;
	height:35px;
	width:100%;
}

div#main {
}

/*問い合わせ Area*/
div#inquiry{
	width:800px;
	text-align:right;
	margin:0px auto 0px auto;
}

/*アンケート参加/送信ボタン Area*/
div#buttonArea {
	background-image:url(../img/button_area.jpg);
	width:600px;
	height:37px;
	margin:40px auto 0px auto;
	padding:9px 0px 0px 0px;
}

div#buttonArea #btnlarge {
	background:url(../img/btn01.gif);
	border:none;
	width:313px;
	height:28px;
	color:#6F6F6F;
	font-weight:bold;
	font-size:15px;
}

div#buttonArea #btnsmall {
	background:url(../img/btn02.gif);
	border:none;
	width:121px;
	height:28px;
	color:#6F6F6F;
	font-weight:bold;
	font-size:14px;
}

/*TOP,END Page アンケート名*/
div#eqttitle{
	background-image:url(../img/top_title.jpg);
	width:800px;
	height:22px;
	padding:6px;
	font-size:20px;
	font-weight:bold;
	color:#FFFFFF;
	margin: 10px auto 0px auto;
}

/* add Start 2021/7/20 ---------------------------------------->*/
/* タイトル2行～対策　height:22px;を削除し、下記を追加　*/
div#eqttitle {
	background-size: cover;
	border-radius: 3px;
	display: inline-block;
	height: auto;
	line-height: 25px;
}
/* add End   2021/7/20  <---------------------------------------*/

/*=============================================================================*
 設問関係用共通
 *=============================================================================*/

/*設問・設問グループ Area*/
div.qgroup,div.question{
	margin:30px auto 0px auto;
	padding:0px;
}

/*設問文テーブル*/
div.content{
	margin:15px auto 0px auto;
	border:1px solid #0167BB;
	background-color:#FFFCDD;
	width:578px;
	padding:10px;
	text-align:left;
	position:relative;
}

/*サブ設問文テーブル*/
div.content_sub{
	margin:15px auto 0px auto;
	border:1px solid #0167BB;
	background-color:#d2e9ff;
	width:500px;
	padding:10px;
	text-align:left;
}

/*設問番号*/
.qno{
	font-size:16px;
	font-weight:bold;
}

/*設問文*/
div.content_note{
	margin:3px auto 0px auto;
}

/*=============================================================================*
 カテゴリ関係用共通
 *=============================================================================*/

/*カテゴリ*/
div.answer {
	margin:15px auto 0px auto;
}

/*カテゴリ テーブル*/
table.categories{
	margin:0px auto 0px auto;
	text-align:left;
	font-size:14px;
}

/*帯テキスト(マトリクス以外)*/
td.category_subject{
	border: double 3px #5191D8;
	background-color:#FFFFFF;
	text-align:left;
	padding:5px;
}

/*カテゴリ テキスト*/
td.categorie_text{
	font-size:14px;
	text-align:left;
	vertical-align:top;
	padding:2px;
}
/*カテゴリ 横並び*/
td.categorie_inline{
	float:left;
	vertical-align:top;
	margin:0px 20px 0px auto;
}

/* 画像表示カテゴリ */
td.category_images{
	text-align:center;
	border: 1px solid;
	border-color: #5191D8;
}

/* 画像表示カテゴリ 画像表示部分*/
td.category_image{
	text-align:center;
	border-bottom: solid 1px #5191D8;
}

/*SA・MAカテゴリ input*/
td.rdck_input{
	vertical-align:top;
	padding:4px;
}

/*SA・MAカテゴリ input スマートフォン対応*/
td.rdck_input_sp{
	vertical-align:top;
	padding:5px 4px 5px 4px
}

/*SA・MAカテゴリ 縦位置調整 スマートフォン対応*/
div.rdck_height_sp{
	line-height: 120%;
	text-indent: -1.9em;
	padding-left: 1.9em;
}

/*SA・MAカテゴリ category スマートフォン対応*/
div.rdck_height_sp span.rdck_category_sp {
	position:relative;
	font-size:14px;
	margin: 0px 0.4em 0px 0px;
	text-align: right;
	width: 1.5em;
	display: -moz-inline-box; /*for Firefox 2*/
	display: inline-block; /*for modern*/
	/display: inline; /*for ie5～7*/
	/zoom: 1; /*for ie5～7*/
	
}

/*SA・MAカテゴリ label スマートフォン対応*/
div.rdck_height_sp label.rdck_label_sp {
	padding:5px 4px 5px 0px;
}

/*100%算出 カテゴリ テーブル*/
table.pph_categories{
	margin:0px auto 0px auto;
	text-align:left;
	font-size:14px;
	background-color:#0167BB;
	border-spacing:1px;
	padding:0px;
}

/*100%算出 カテゴリ テキスト*/
td.pph_categorie_text{
	background-color:#E9F8FF;
	font-weight: bold;
	margin: auto auto auto auto;
	padding:5px 14px 5px 14px;
}

/*100%算出 カテゴリ input*/
td.pph_input{
	background-color:#FEFDDF;
	margin: auto auto auto auto;
	padding:5px 14px 5px 14px;
}

/*100%算出 合計値 テキスト*/
td.pph_sum_text{
	background-color:#D8E9FB;
	padding:0px;
	margin: auto auto auto auto;
	padding:5px 14px 5px 14px;
}

/*100%算出 合計値 input*/
td.pph_sum_input{
	background-color:#D8E9FB;
	margin: auto auto auto auto;
	padding:5px 14px 5px 14px;
}

/*=============================================================================*
 エレメント関係
 *=============================================================================*/
div.element{
	margin:15px auto 0px auto;
}

div.element_box_default{
	border:2px solid #0167BB;
	background-color:#d2e9ff;
	width:600px;
	text-align:left;
	padding:5px;
}

div.element_box_backclear{
	border:2px solid #ffffff;
	background-color:#ffffff;
	width:600px;
	text-align:left;
	padding:5px;
}

div.element_box_lineBlue{
	border:2px solid #0167BB;
	background-color:#ffffff;
	width:600px;
	text-align:left;
	padding:5px;
}

div.element_box_reference{
	width:600px;
	text-align:center;
	padding:5px;
}

.element_table_reference{
	margin: 5px auto auto auto ;
	border-spacing:1px;
	border:none;
	background-color:#0099FF;
}

.element_table_reference tr {
	background-color:#FFFFFF;
}

.element_table_reference td {
	text-align:left;
	font-size:14px;
	padding:5px;
}


/*=============================================================================*
 マトリクス関係用共通
 *=============================================================================*/

/*マトリクス全体*/
div#answerMatrix {
	padding:0px;
	margin:15px auto 0px auto;
}

/*マトリクス テーブル*/
table.matrix_h, table.matrix_v {
	font-size:14px;
	background-color:#ffffff;
	border:1px solid #0167BB;
	border-collapse:collapse;
	border-spacing:0px;
	margin:0px auto 0px auto;
}

/*マトリクス テーブルセル*/
table.matrix_v th, table.matrix_v td, table.matrix_h th, table.matrix_h td {
	border:1px solid #0167BB;
	padding:5px;
	text-align:center;
}

/*マトリクス テーブルセル 縦幅調整*/
table.matrix_v td, table.matrix_h td {
	height:34px;
}

/*マトリクス 帯文章*/
table.matrix_v td.subject ,table.matrix_h td.subject {
	text-align:left;
	font-weight:bold;
	color:#5191D8;
	padding:5px;
}

/*表頭テキスト*/
table.matrix_v td.verticaltextcol, table.matrix_h td.verticaltextcol{
	vertical-align:top;
	text-align:center;
	padding:1px;
	border:0px;
}

/*マトリクス縦文字列*/
table.verticaltext {
	margin:0px auto 0px auto;
	font-size:14px;
	border:0px;
}

/*マトリクス表側用(縦)*/
div.side_h_text {
	text-align:left;
	font-weight:normal;
}

/*マトリクス表側用(横)*/
div.side_v_text {
	text-align:left;
}

/*回答方向*/
table.matrix_v th.direction, table.matrix_h th.direction {
	vertical-align:middle;
	background-color:#d2e9ff;
	padding :30px;
}

/*回答方向画像-横*/
div.arrowImage1{
	background-image:url(../img/ept_arrow01.png);
	width:102px;
	height:106px;
	margin:auto;
}

/*回答方向画像-縦*/
div.arrowImage2{
	background-image:url(../img/ept_arrow02.png);
	width:85px;
	height:111px;
	margin:auto;
}

/*AB画像-A*/
div.sideImage1{
	background-image:url(../img/a.gif);
	width:100px;
	height:70px;
	margin:auto auto auto auto;
}

/*AB画像-B*/
div.sideImage2{
	background-image:url(../img/b.gif);
	width:100px;
	height:70px;
	margin:auto auto auto auto;
}

/*=============================================================================*
 アラート関係用共通
 *=============================================================================*/

/*アラート用*/
div.alert {
	margin:0px auto 0px auto;
	width:600px;
	background-color:#FFEEEE;
	text-align:left;
	font-size:14px;
	padding:10px;
	border:1px dashed #800000;
}

div.page_alerttitle{
	background-color:#CC0066;
	color:#FFFFFF;
	width:680px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	padding:10px;
	margin: 15px auto 0px auto;
}

div.alert div.alerttitle{
	background-color:#CC3366;
	text-align:center;
	padding:4px;
	font-weight:bold;
	color:#FFFFFF;
	margin:0px 0px 10px 0px;
}

div.alert table{
	margin:0px 0px 0px 15px;
}

div.alert table th{
	width:70px;
    font-weight:bold;
    font-size:14px;
	text-align:left;
	color:#800000;
}

div.alert table td{
    font-size:14px;
	text-align:left;
	color:#FF0000;
}

/*=============================================================================*
 HTML制御関係用共通
 *=============================================================================*/

/*HTMLページ制御内容表示POP*/
div.pageHtmlMessages {
	margin: 15px auto 0px auto;
	border: 1px solid #828282;
	text-align: left;
	background-image: url(../img/pageHtmlMsgBack.gif);
	font-size: 14px;
	line-height: 16px;
	width: 730px;
	padding: 10px;
}

div.htmlNote {
	margin: 15px auto 0px auto;
	border: 1px solid #828282;
	text-align: left;
	background-image: url(../img/pageHtmlMsgBack.gif);
	font-size: 14px;
	line-height: 16px;
	width: 730px;
	padding: 10px;
}

/*HTML設問制御内容表示POP*/
div.htmlMessages {
	margin: 15px auto 0px auto;
	padding: 0px;
	width: 700px;
}

div.htmlMessages table {
	width: 100%;
	border-collapse: collapse;
	border: 0px;
}

div.htmlMessages th.thS {
	background-color: #999999;
	width: 65px;
	height: 12px;
}

div.htmlMessages th.thQ {
	vertical-align: top;
	text-align: center;
	background-color: #999999;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #FFFFFF;
	width: 63px;
	padding: 2px 1px 2px 1px;
	text-shadow: 0px 2px 1px #4C4C4C;
}

div.htmlMessages td.tdS {
	background-color: #DCE5F5;
}

div.htmlMessages td.tdQ {
	vertical-align: top;
	text-align: left;
	font-size: 12px;
	line-height: 16px;
	padding: 2px 15px 2px 15px;
	background-color: #DCE5F5;
}

span.htmlCond {
	display: none;
}
span.htmlCondwithT {}

div.htmlMsgBottom {
	height: 14px;
	background-image: url(../img/htmlMsgBottom.gif);
}
/* 条件式内の設問番号 */
span.conditionQNo {
	color: #0000A0;
	font-weight: bold;
}

/*HTMLアンケート開始用*/
div.htmlEqtStart {
	margin: 10px auto 7px auto;
	width: 750px;
	background-color: #0E3B66;
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
	line-height: 30px;
	text-shadow: 0px 2px 1px #000000;
}

/*HTML改ページ表示用*/
div.htmlPageBreak {
	margin: 50px auto 7px auto;
	height: 20px;
	width: 100%;
	background-image: url(../img/pageBreak.gif);
}
span.htmlPageBreak {
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	background-color: #FFFFFF;
	padding: 0px 10px 0px 10px;
	color: #8D9595;
}

/*HTMLページ番号*/
div.htmlPageNoArea {
	width:750px;
	margin:auto auto auto auto;
}

div.htmlPageNo {
	margin: 0px auto 0px 0px;
	width: 70px;
	line-height: 25px;
	background-color: #C5CDD8;
	text-align: center;
	color: #000000;
	font-size: 14px;
}

div.htmlPageNo a{
	text-decoration: none;
}

/*HTML EyeCatch*/
div.eyecatch {}
div.eyecatchS {
	padding: 0px 0px 0px 15px;
}
div.eyecatch_yl {
	width: 75px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	background-image: url(../img/eyecatch_y.gif);
	text-shadow: 0px 2px 1px #C86D31;
	float: left;
	margin: 0px 7px 0px 0px;
}
div.eyecatch_ol {
	width: 75px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	background-image: url(../img/eyecatch_o.gif);
	text-shadow: 0px 2px 1px #C86D31;
	float: left;
	margin: 0px 7px 0px 0px;
}
div.eyecatch_gl {
	width: 75px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	background-image: url(../img/eyecatch_g.gif);
	text-shadow: 0px 2px 1px #259152;
	float: left;
	margin: 0px 7px 0px 0px;
}
div.eyecatch_bl {
	width: 75px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	background-image: url(../img/eyecatch_b.gif);
	text-shadow: 0px 2px 1px #386186;
	float: left;
	margin: 0px 7px 0px 0px;
}
div.eyecatch_rl {
	width: 75px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	background-image: url(../img/eyecatch_r.gif);
	text-shadow: 0px 2px 1px #A83B30;
	float: left;
	margin: 0px 7px 0px 0px;
}
div.eyecatch_grl {
	width: 75px;
	height: 20px;
	line-height: 20px;
	color: #505050;
	text-align: center;
	font-size: 12px;
	background-color: #CCCCCC;
	float: left;
	margin: 0px 7px 0px 0px;
}
div.eyecatch_blankl {
	width: 75px;
	height: 20px;
	line-height: 20px;
	color: #000000;
	text-align: center;
	font-size: 12px;
	float: left;
	margin: 0px 7px 0px 0px;
}
div.eyecatch_lt {
	font-size: 12px;
	line-height: 20px;
	width: 515px;
	float: left;
}
div.eyecatch_st {
	font-size: 12px;
	line-height: 20px;
	width: 500px;
	float: left;
}

/*HTML Navigation*/
div.htmlSideBer {
	top: 0px;
	right: 0px;
	margin: 0px 0px 0px auto;
	padding:0px;
	width:230px;
	position: fixed;
	z-index: 2;
}
div.htmlsideBerforDisp {
	top: 0px;
	right: 0px;
	margin: 0px 0px 0px auto;
	padding:0px;
	width:30px;
	position: fixed;
	z-index: 1;
}

div.htmlSideBerDispButton {
	right: 0px;
	position: fixed;
}
div.htmlSideBerHiddenButton {
	float:left;
}
div.htmlSideBerButton {
	width: 29px;
	margin: 55px 0px auto 0px;
	background-color: #999999;
	height: 60px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}
div.htmlSideBerButton:hover {
	background-color: #CCCCCC;
}

div.htmlNavigation {
	float:right;
	top: 0px;
	right: 0px;
	margin: 0px 0px 0px auto;
	padding:0px;
	width:200px;
	background-color:#F2F4F8;
	border:0px solid #FFFFFF;
	border-left:1px solid #999999;
	text-align:left;
}

div.htmlNavigation a{
	text-decoration: none;
	color: #1A1B1D;
}
div.sideButton {
	color: #FFFFFF;
	text-shadow: 0px 2px 1px #000000;
	background-color: #0E3B66;
	width: 170px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 14px;
	margin: 10px auto 0px auto;
	cursor: pointer;
}
div.sideButton:hover {
	background-color: #6E89A3;
}
div.pageNavi {
	margin: 10px auto;
	width: 170px;
	padding: 0px 15px 10px 15px;
	overflow-y: scroll;
}
div.pageNaviP {
	background-color: #C5CDD8;
	margin: 0px 0px 5px 0px;
	padding: 1px 10px 1px 10px;
}
div.qNaviP {
	text-align: left;
	float: left;
	width: 60px;
	margin: 0px 0px 10px 10px;
	
}

/*Matrix check*/
div.htmlalert {
	width:1000px;
}

div.htmlalerttitle {
	height:300px;
	font-size:30px;
}

div.htmlalerttitle span {
	position:relative; top:35%;
	line-height: 130%;
}

div.htmlalert table {
	margin:10px 0px 0px 0px; 
	padding:5px; 
	border:2px dashed #f50126;
	width:1000px;
}

div.htmlalert table th {
	width:170px;
}
/*Matrix check*/

/*HTML用カテゴリ番号*/
div.html_category_no {
	position:absolute;
	font-size: 12px;
	color:#FF0000;
	font-weight:bold;
}

/*Matrix 回答セル*/
div.matrix_answercell {
	position: relative;
}

/*=============================================================================*
 Font Color
 *=============================================================================*/

/*謝礼*/
.fee{
	color:#FF0000;
}
/* リクルートのコメントで使用 */
.comment{
	font-weight:normal;
	font-size:12px;
}
/* 赤 */
.red{
	color:#FF0000;
}
/* 青 */
.blue{
	color:#0000FF;
}
/* 太字 */
.bold {
	font-weight:bold;
}

/* 太字 */
.size12 {
	font-size:12px;
}


/*=============================================================================*
 Design Color
 *=============================================================================*/

.mxStripeOdd {
    background-color: #FFFFFF;
}

.mxStripeEven {
    background-color: #FEFDDF;
}

.mxStripeOdd2 {
    background-color: #FFFFFF;
}

.mxStripeEven2 {
    background-color: #E9F8FF;
}

.mxCellHighlight {
    background-color: #FFB0B3;
}

.mxRowHighlight {
    background-color: #FDDFE3;
    color: #ff0000;
}

.mxColumnHighlight {
    background-color: #FDDFE3;
}

.mxHeaderHighlight {
    background-color: #FDDFE3;
}

/*=============================================================================*
 リクルート
 *=============================================================================*/
div.recruitinfo {
	width:600px;
	margin:30px auto 0px auto;
	text-align:left;
}
/* 注釈 */
div.recruitinfo table.attention{
	width:100%;
	background-color: #d2e9ff;
	border:1px solid #0000ff;
	font-weight:bold;
	font-size:15px;
}

/* 詳細 */
div.recruitinfo table.detail{
	width:100%;
	margin-top:15px;
	border:2px solid #44B5FF;
	font-size:14px;
}
div.recruitinfo table.detail tr.color1{
	background-color: #ffffff;
	padding:2px;
}
div.recruitinfo table.detail tr.color2{
	background-color: #EFEFEF;
}
div.recruitinfo table.detail td.color1{
	font-weight:bold;
	padding:3px;
}
div.recruitinfo table.detail td.color2{
	padding:3px;
}
/* 実査詳細 注意事項 */
div.recruitinfo table.detailattention{
	width:100%;
	color: #0000ff;
	font-size:12px;
}

/* 応募について */
div.recruitinfo table.applycolor1{
	width:100%;
	margin-top:15px;
	color: #0000ff;
	font-weight:bold;
	font-size:15px;
}
div.recruitinfo table.applycolor2{
	width:100%;
	border:1px solid #44B5FF;
	font-size:14px;
}
div.recruitinfo table.applycolor2 td.color1{
	border:1px solid #D2E9FF;
	vertical-align:top;
	color: #0000ff;
	padding:2px;
}
div.recruitinfo table.applycolor2 td.color2{
	border:1px solid #D2E9FF;
	padding:2px;
}

/* 個人情報について */
div.recruitinfo table.personalcolor1{
	width:100%;
	margin-top:15px;
	color: #0000ff;
	font-weight:bold;
	font-size:15px;
}
div.recruitinfo table.personalcolor2{
	width:100%;
	border:1px solid #44B5FF;
	font-size:14px;
}
div.recruitinfo table.personalcolor2 td.color1{
	border:1px solid #D2E9FF;
	vertical-align:top;
	color: #0000ff;
	padding:2px;
}
div.recruitinfo table.personalcolor2 td.color2{
	border:1px solid #D2E9FF;
	padding:2px;
}
div.recruitinfo table.personalcolor3{
	width:100%;
	text-align: right; 
	font-weight:bold;
	font-size:15px;
}
div.recruitinfo table.personalcolor4{
	width:100%;
	margin-top:15px;
	border:1px solid #999999;	
	font-weight:bold;
	font-size:15px;
}
div.recruitinfo table.personalcolor4_inner{
	width:100%;
	padding-left:30px;
	font-weight:bold;
	font-size:15px;
}


/*=============================================================================*
 リクルート FS
 *=============================================================================*/
div.fs{
	width:600px;
	margin:15px auto 0px auto;
}
div.fs table{
	width:100%;
	font-size:13px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align:left;
}
div.fs td.topicColor1{
	padding:3px 3px 3px 10px;
	background-color: #F4FDFF;
	border:1px solid #44B5FF;
	font-weight:bold;
}
div.fs td.topicColor2{
	padding:3px 3px 3px 10px;
	background-color: #EEFCFF;
	border:1px solid #44B5FF;
	font-weight:bold;
}
div.fs td.inboxColor1{
	padding:3px 3px 3px 10px;
	background-color: #ffffee;
	border:1px solid #44B5FF;
}
div.fs td.inboxColor2{
	padding:3px 3px 3px 10px;
	background-color: #fffed0;
	border:1px solid #44B5FF;
}


/*=============================================================================*
 印刷範囲の指定
 *=============================================================================*/

@media print{
	div#header{display:none;}
	div#footer{display:none;}
	div.htmlNavigation{display:none;}
	div.htmlPageBreak{display:none;}
	div.sideBer{display:none;}
	div.htmlSideBerButton{display:none;}
	div#wrapper{width:100%; float:none;}
}


/*=============================================================================*
 付箋コメント付与用
 *=============================================================================*/


/*付箋テーブル*/
div.for_sticky{
	margin:0 auto;
	width:580px;
	padding:0 10px;
	text-align:left;
	position:relative;
}