@charset "utf-8";

/*******************************************************************************
 Pyxis2アンケート用 スタイルシートサンプル（Checkman用）
 *******************************************************************************/

/*=============================================================================*
 レイアウト
 *=============================================================================*/

.nam_button0{
	width: 130px;
	height: 28px;
	background-color: #000000;
	color: #FFFFFF;
	border: 2px solid #0000FF;
	font: 10pt;
	font-family: Verdana, Arial, sans-serif;
}
.nam_button1{
	width: 100px;
	height: 28px;
	background-color: #000000;
	color: #FFFFFF;
	border: 2px solid #0000FF;
	font: 10pt;
	font-family: Verdana, Arial, sans-serif;
}
.nam_button2{
	width:100px;
	height: 23px;
	background-color: #F8FEF9;
	color: #666666;
	border: 2px solid #ACE1BF;
	font-family: Verdana, Arial, sans-serif;
}
.nam_button3{
	width:100px;
	height: 25px;
	background-color: #DCDCDC;
	color: #666666;
	border: 1px solid #696969;
	font-family: Verdana, Arial, sans-serif;
}
.nam_button4{
	width:80px;
	height: 20px;
	background-color: #DCDCDC;
	font: 9pt;
	color: #666666;
	border: 1px solid #696969;
	font-family: Verdana, Arial, sans-serif;
}

.nam_font1{
	color: #ffffff;
	font-size: 12pt;
	font-family: Verdana, Arial, sans-serif;
}
.nam_font2{
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
}
.nam_font3{
	color: #666666;
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
}
.nam_textarea{
	background-color:transparent;
	border:1px solid #696969;
}

.fstyle1{
	font-family: Verdana, Arial, sans-serif;
	font-weight: 700;
}
.fstyle2{
	font-family: Verdana, Arial, sans-serif;
}

.narrow_button {
	width:		65px;
	height:		19px;
	font-size:	12px;
	background-color:#fef4f4;
	border:1px solid #8a3b00;
	font-family: Verdana, Arial, sans-serif;
}
.kensaku_textf {
	border:	1px solid #965042;
}
